.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{ 
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    display: flex;
    flex-direction: column;
    flex: 2;
    align-self: flex-start;
    margin-left: 20px;
}
.container{
    background-color: #fff;
    display: flex;
    justify-content: center; 
     align-items: center;  
    width: 600px;
    height: 400px;
    border-radius: 20px;
    padding-right: 10px;
}
.result{
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    height: 300px;
    flex:2;
    border-radius: 10px;
}
h6{
    color:lightgray;
    font-style:initial;
    border-radius: 5px;
}
.person{
    background-color: hsl(189, 41%, 97%);
    height: 20px;
    width: 200px;
    border-radius: 5px;
}
.info{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-self: flex-end;
    margin-bottom: -40px;
    border-radius: 20px;
}
.info2{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;
    margin: 20px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 20px;
}
.select{
 display: flex;
 flex: 2;
}
.select2{
    display: flex;
    flex:2;
}
.tip{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(183, 100%, 15%) ;
    height: 30px;
    width: 70px;
    margin: 20px;
    border-radius: 5px;
}
.tip2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(172, 67%, 45%) ;
    height: 30px;
    width: 90px;
    margin: 20px;
    border-radius: 5px;
}
.tip3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(184, 14%, 56%) ;
    height: 30px;
    width: 90px;
    margin: 20px;
    border-radius: 5px;
}
.person2{
    background-color: hsl(189, 41%, 97%);
    height: 20px;
    width: 200px;
    margin-left: 20px;
    border-radius: 5px;
}
.per{
    background-color: hsl(172, 67%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 180px;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}
.id{
    background-color:  hsl(183, 100%, 15%);
    margin-left:20px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 20px;
}
.tr{
    background-color:  hsl(183, 100%, 15%);border: 0;
}